<div style="background-color:#eeeeee; font-family:verdana; padding-top:10px;">
  
  <center><img src="https://nakedbear.io/static/images/logo.png" width="75"></center>
  
  <h3 style="text-align:center;">
    Hi, and welcome to NakedBear!
  </h3>
  
  <p style="background-color:#ffffff;padding:50px;">
    You are recieving this email because you registered for an account on NakedBear. Share files directly with anyone right now without uploading anything anywhere.  
  </p>
  
  <h3 style="text-align:center;">
    Next Steps
  </h3>
  
  <ol style="background-color:#ffffff;padding:50px;">
    <li><a href="https://nakedbear.io/api/auth/confirm/{{confirm}}">Confirm your email address</a>.</li>
    <li><a href="https://nakedbear.io">Download</a> the appropriate desktop app for your platform.</li>
    <li>Read the <a href="https://nakedbear.io/docs">how to guide</a>.</li>
  </ol>
  
  
  <p style="padding:10px;">
  Thanks,<br>
  The NakedBear Team
  </p>
  
  <p style="padding:10px;">
    <small>P.S. If you did not sign up for NakedBear, please disregard this email.</small><br>
    <small>P.S.S This email was generated automatically. Email <a href="mailto:support@nakedbear.io">support@nakedbear.io</a> for any comments or questions you may have.</small>
  </p>
</div>
